{% load static %}


<!DOCTYPE html>

<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title name="hptitle">Bem-vindo ao Site de Projetos - KauanJPK</title>
    <link rel="stylesheet" href="{% static 'inicio/css/entradas.css' %}">
</head>
<body>
    <h1>Bem-vindo ao Site de Projetos</h1>
    <table>
    <p>Aqui vou apresentar meus projetos em suas diversas linguagens. <br>
        Sendo elas:
        <br>
            <li>Python</li>
            <li>Java</li>
            <li>Kotlin</li>
            <li>JavaScript</li>
            <li>HTML</li>
            <li>CSS</li>
            <li>Django</li>

    </p>
    <p>Sinta-se à vontade para explorar e utilizá-los como base!</p>
    </table>
    <div>
    <table>
        <tr>
            <td>Citação:</td>
            <td>{{ quote }}</td>
        </tr>
        <tr>
            <td>Autor:</td>
            <td>{{ author }}</td>
        </tr>
    </table>
    </div>
</body>
</html>
